<div class="root">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span8">
					<div class="grey-box">
						<h3>Posts</h3>
						<% if current_user %>						
						<div id="recent_posts">
							<%= render :partial => 'recent_post' %>
						</div>
						<% end %>
					</div>
				</div>
				<div class="span3 well">
					<!-- <div class='black-transparent-box'> -->
					<div class='grey-box'>	
						<h3>Contact Manager</h3>
						<hr />
						<% 3.times do %>
						<p><%= Faker::Lorem.paragraphs(2) %></p>
						<% end %>
					</div>
					<!-- </div> -->
				</div>
			</div>
	 	</div>
	</div>
</div>